/* body{
    margin: 0;
} */
body,p{
    font-size:18px;
}
#root {
    max-width: 1200px;
    margin: 20px auto;
}

* {
    margin: 0
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav li {
    list-style-type: none;
    padding: 10px;
}

/* body */
.cards {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    flex: 20%;
    box-sizing: border-box;
    
}

img {
    max-width: 100%;
}


/* footer */
.footer{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid;
    text-align: center;
}